<nav>
    <a href="/" {% if page.url == "/" %}style="color: red;"{% endif %} class="btn btn-github"><span class="icon"></span>
      Home
    </a>

    <a href="/sobre.html" {% if page.url == "/sobre.html" %}style="color: red;"{% endif %} class="btn btn-github"><span class="icon"></span>
      Sobre
    </a>

    <a href="./blog.html" {% if page.url == "/blog.html" %}style="color: red;"{% endif %} class="btn btn-github"><span class="icon"></span>
        Blog
    </a>

    <a href="./contato.html" {% if page.url == "/contato.html" %}style="color: red;"{% endif %} class="btn btn-github"><span class="icon"></span>
        Contato
    </a>

    <a href="https://github.com/hiureanderson" class="btn btn-github"><span class="icon"></span>
        Veja no GitHub
    </a>

  </nav>