    <!-- head, meta, title, CSS, favicon, etc. -->
    {% include header.html %}

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.title }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Hiure Queiroz<br />
                Fuçador<br />
                hiure@riseup.net
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/hiureanderson">github.com/hiureanderson</a><br />
                <a href="https://twitter.com/hiure">twitter.com/hiure</a><br />
              </p>
            </div>
          </div>
        </div>

    <!-- Include the footer layout -->
    {% include footer.html %}
